
.colorUno{

    background-color: #F97D7D;
}

.colorDos{

    background-color: #d65db1;

}

.colorTres{

    background-color: #ff6f91;
}


.fuente {
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.fondo{
    background-image: url("../img/fondofinal.jpg");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 25%;
}
.btn.btn-primary {
  background-color: #F97D7D;
  border: none;
  color: white;
  transition: box-shadow 0.2s ease, transform 0.1s ease, background-color 0.2s ease;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: #f76b6b; /* un poco más oscuro para el efecto hover */
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
  color: white; /* evita cambio de color de texto */
}

.btn.btn-primary:active {
  background-color: #f45b5b; /* aún más oscuro al hacer clic */
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  color: white;
}


